@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-600/20;
}
.paper {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 253, 251, 0.568);
}
.paper::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.6);
}
.paper {
  position: relative;
}
#paper::before {
  position: absolute;
  top: 0;
  left: 40px;
}
.paper {
  padding-top: 40px;
  padding-bottom: 40px;
}
.ql-container {
  height: 100%;
  background-image: repeating-linear-gradient(
    rgba(255, 249, 238, 0.5) -10px,
    rgba(255, 249, 238, 0.5) 34px,
    rgba(128, 92, 0, 0.171) 35px
  );
}
.ql-editor {
  padding-top: 6px;
  padding-left: 16px;
  padding-right: 16px;
  line-height: 45px;
  font-family: "Amiri";
  font-size: 19px;
  letter-spacing: 1px;
  word-spacing: 5px;
}
.ql-toolbar {
  @apply bg-orange-200/20;
  padding: 15px !important;
  @apply flex justify-between overflow-x-auto items-center;
  border: none !important;
}
